<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421524200737-7nmdiq99ocjpcrnutkudvcv99957jkh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421524200737-7nmdiq99ocjpcrnutkudvcv99957jkh6</string>
	<key>API_KEY</key>
	<string>AIzaSyArjsxKAB-m8YKR9MA1vTXctiOdJpGL898</string>
	<key>GCM_SENDER_ID</key>
	<string>421524200737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csirin.sfsu.edu.TinderMyRestaurant</string>
	<key>PROJECT_ID</key>
	<string>tinder-my-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-my-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421524200737:ios:de05eefb75c4cc86db3260</string>
</dict>
</plist>